body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: #25283d;
  font-family: "Noto Sans SC", sans-serif;
}
canvas {
  background-color: #25283d;
  margin-bottom: 16px;
}
.toggle {
  display: none;
}

.start {
  width: 1000px;
  height: 600px;
  font-size: 40px;
  color: #efd9ce;
  background-color: #25283d;
}

.start:hover {
  cursor: pointer;
}
